<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hồ Sơ Cá Nhân</title>
    <link rel="icon" type="image/x-icon" th:href="@{/image/android-chrome-512x512.png}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css}"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,1,200"/>
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/contact.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/post.css}">
    <link rel="stylesheet" th:href="@{/css/postdetail.css}">
    <link rel="stylesheet" th:href="@{/css/profile.css}">
    <script th:src="@{https://cdn.jsdelivr.net/npm/chart.js}"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels}"></script>
</head>
<body>
<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="inner-head">
                    <div class="inner-logo">
                        <a th:href="@{/admin/home}">
                            <img th:src="@{/image/logo.png}" alt="logo">
                        </a>
                    </div>
                    <div class="inner-menu">
                        <ul class="menu">
                            <li><a th:href="@{/admin/home}" class="active-menu">Trang Chủ</a></li>
                            <li><a th:href="@{/admin/user-management}">Quản Lí Người Dùng</a></li>
                            <li><a th:href="@{/admin/post-management}">Quản Lí Bài Đăng</a></li>
                            <li><a th:href="@{/admin/comment-management}">Quản Lí Bình Luận</a></li>
                        </ul>
                    </div>
                    <div class="user-dropdown">
                        <div class="dropdown-toggle">
                            <i class="fa-solid fa-user"></i>
                            <span th:text="${user.fullName}">Tên Người Dùng</span>
                            <i class="fa-solid fa-chevron-down"></i>
                        </div>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/admin/profile}">Quản Lí Cá Nhân</a></li>
                            <li><form th:action="@{/logout}" method="post">
                                <button type="submit">Đăng Xuất</button>
                            </form></li>
                        </ul>
                    </div>

                    <div class="inner-menu-mb">
                        <div class="menu-mb-icon"><i class="fa-solid fa-bars"></i></div>
                        <ul class="menu-mb">
                            <li><a th:href="@{/admin/home}" class="active-menu"><i class="fa-solid fa-house"></i>Trang Chủ</a></li>
                            <li><a th:href="@{/admin/user-management}"><i class="fa-solid fa-house"></i>Quản Lí Người Dùng</a></li>
                            <li><a th:href="@{/admin/post-management}"><i class="fa-solid fa-house"></i>Quản Lí Bài Đăng</a></li>
                            <li><a th:href="@{/admin/comment-management}"><i class="fa-solid fa-house"></i>Quản Lí Bình Luận</a></li>
                            <li class="item-action">
                                <a th:href="@{/login}">Đăng Nhập</a>
                                <a th:href="@{/logout}">Đăng Xuất</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="profile-container">
        <div class="profile-header">
            <i class="fa-solid fa-user-circle" style="font-size: 50px;"></i>
            <h2>Hồ Sơ Cá Nhân</h2>
        </div>
        <div class="profile-info">
            <label for="email">Email:</label>
            <p id="email" th:text="${user.email}"></p>

            <label for="fullName">Họ Tên:</label>
            <p id="fullName" th:text="${user.fullName}"></p>

            <label for="phone">Số Điện Thoại:</label>
            <p id="phone" th:text="${user.phone}"></p>

            <a href="javascript:void(0);" class="btn-edit-profile" onclick="editProfile()">
                <i class="fa-solid fa-pen"></i>
            </a>
        </div>
        <div id="editForm" style="display: none;">
            <form th:action="@{/admin/profile/updateProfile}" method="post" th:object="${user}">
                <div class="form-group1">
                    <label for="fullNameEdit">Họ Tên:</label>
                    <input type="text" id="fullNameEdit" th:field="*{fullName}" value="${user.fullName}" class="form-control" required>
                </div>
                <div class="form-group11">
                    <label for="phoneEdit">Số Điện Thoại:</label>
                    <input type="text" id="phoneEdit" th:field="*{phone}" value="${user.phone}" class="form-control" required>
                </div>
                <div class="form-group1">
                    <button type="submit" class="btn btn-primary">Lưu Thay Đổi</button>
                    <button type="button" class="btn btn-secondary" onclick="cancelEdit()">Hủy</button>
                </div>
            </form>
        </div>
    </div>

    <div class="chart-container">
        <div class="chart-wrapper">
            <div class="post-statistics">
                <h3 style="color: black">Thống Kê Bài Đăng</h3>
                <ul>
                    <li>Tổng số bài đăng: <span th:text="${totalPost}"></span></li>
                    <li>Số bài đã duyệt: <span th:text="${totalPostApprovedTrue}"></span></li>
                    <li>Số bài chưa duyệt: <span th:text="${totalPostApprovedFalse}"></span></li>
                </ul>
                <canvas id="postChart" width="20" height="20"></canvas>
            </div>
            <div class="comment-statistics">
                <h3 style="color: black">Thống Kê Bình Luận </h3>
                <ul>
                    <li>Tổng số bài đăng: <span th:text="${totalComment}"></span></li>
                    <li>Số bài đã duyệt: <span th:text="${totalCommentApprovedTrue}"></span></li>
                    <li>Số bài chưa duyệt: <span th:text="${totalCommentApprovedFalse}"></span></li>
                </ul>
                <canvas id="commentChart" width="20" height="20"></canvas>
            </div>
            <!-- User Statistics Section -->
            <div class="user-statistics">
                <h3 style="color: black">Thống Kê Người Dùng</h3>
                <ul>
                    <li>Tổng số người dùng: <span th:text="${totalUser}"></span></li>
                </ul>
                <canvas id="userChart" width="100" height="100"></canvas>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Post Chart
        const postCtx = document.getElementById('postChart').getContext('2d');
        const totalPostApprovedTrue = [[${totalPostApprovedTrue}]] || 0;
        const totalPostApprovedFalse = [[${totalPostApprovedFalse}]] || 0;

        new Chart(postCtx, {
            type: 'pie',
            data: {
                labels: ['Đã Duyệt', 'Chưa Duyệt'],
                datasets: [{
                    data: [totalPostApprovedTrue, totalPostApprovedFalse],
                    backgroundColor: ['#4CAF50', '#FF5722'],
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'bottom',
                    }
                }
            }
        });

        // Comment Chart
        const commentCtx = document.getElementById('commentChart').getContext('2d');
        const totalCommentApprovedTrue = [[${totalCommentApprovedTrue}]] || 0;
        const totalCommentApprovedFalse = [[${totalCommentApprovedFalse}]] || 0;

        new Chart(commentCtx, {
            type: 'pie',
            data: {
                labels: ['Đã Duyệt', 'Chưa Duyệt'],
                datasets: [{
                    data: [totalCommentApprovedTrue, totalCommentApprovedFalse],
                    backgroundColor: ['#4CAF50', '#FF5722'],
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'bottom',
                    }
                }
            }
        });

        // Lấy ngữ cảnh canvas
        const userCtx = document.getElementById('userChart').getContext('2d');
        const totalUsers = [[${totalUser}]];

        new Chart(userCtx, {
            type: 'doughnut',
            data: {
                labels: ['Người Dùng'],
                datasets: [{
                    data: [totalUsers],
                    backgroundColor: ['#053574'],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    datalabels: {
                        display: true,
                        color: '#ffffff',
                        font: {
                            weight: 'bold',
                            size: 16
                        },
                        formatter: function(value) {
                            return `${value} Người Dùng`;
                        }
                    },
                    legend: {
                        display: false
                    },
                    tooltip: {
                        enabled: false 
                    }

                }
            },
            plugins: [ChartDataLabels]
        });
    });
    function editProfile() {
        console.log("Chỉnh sửa profile");
        document.querySelector('.profile-info').style.display = 'none';
        document.getElementById('editForm').style.display = 'block';
    }
    function cancelEdit() {
        document.querySelector('.profile-info').style.display = 'block';
        document.getElementById('editForm').style.display = 'none';
    }
</script>
</body>
</html>